@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 1.5 ease;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,1);
}

.container .left_side {
position: relative;
background: #1b84b5;
padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .imgBx img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h2{
    color: #FFF;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;

}

.contact{
    padding-top: 40px;
}
.title{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.contact ul{
    position: relative;
}


.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:mediumturquoise
}

.contact ul li span {
    color: #FFF;
    font-weight: 300;
}

.education li{
margin-bottom: 5px;
list-style: none;
}

.education h5 {
color:aqua;
font-weight: 500;
}

.education h4:nth-child(2){
    color:#FFF;
    font-weight: 500 ;
}

.education h4{
    color:#FFF;
    font-weight:300 ;
}

.language .percent{
position: relative;
width: 100%;
height: 6px;
background: black;
display: block;
margin-top: 5px;
}
.language li{
    margin-bottom: 5px;
    list-style: none;
    }

 .language .percent div{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #0791d2;
}
.container .right_side{
    position: relative;
    background: #02eba5;
    padding: 40px;
      
}

.about_me{
    margin-bottom: 30px;
}



.about_me:last-child{
    margin-bottom: 0;
}

.title2{
    color:darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: rgb(9, 10, 10);
    text-align: justify;
    font-weight: 600;
}

.Skills ul li {
    list-style: square;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 600;
}

.Skills{
    margin-bottom: 30px;
}
.reference ul li  {
    margin-left: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-top: 0;
}

.reference ul{
    margin-bottom: 30px;
}



.reference ul li span{
    color:black;
    font-weight: 600;
}

.reference ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(65, 60, 35);
    font-weight: 300;
}
.title3{
    color:darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.reference, .title4, .title5{
    color:darkgoldenrod;
    font-weight: 600;
    margin-bottom: 10px;

}

.interests ul li{
    list-style-type: none;
    font-weight: 600;
}
.interests ul{
    display: grid;
    grid-template-columns: repeat(4,28%);
}

.interest{
    color:darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


button{
    border: none;
    outline:none;
    background-color: rgb(213, 129, 232);
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    cursor: pointer;
}

